[Unit]
Description=autossh tunnel to {{honeypot}}

[Service]
Type=simple
User=crockpot
Group=crockpot
ExecStart=/usr/bin/autossh -R 9999:localhost:{{tun_port}} crockpot@{{honeypot}} -p 65535
Restart=always
TiemoutSec=infinity

[Install]
WantedBy=multi-user.target
