[Unit]
Description=autossh tunnel to {{honeypot}}

[Service]
Type=simple
User=crockpot
Group=crockpot
ExecStart=/usr/bin/autossh crockpot@{{honeypot}} \
                            -p {{mgmt_port}} -N \
                            -R 9999:localhost:{{tun_port}} \
                            -i /crockpot/keys/{{honeypot}}.tun.key
Restart=always

[Install]
WantedBy=multi-user.target
