input {
  file {
    path => [ "{{dionaea_path}}/logs/dionaea.log" ]
    codec => "json"
    type = "dionaea"
  }
}

filter {
  if [type] == "dionaea" {
    date { match => [ "timestamp", "ISO08601" ] }
  }
}
