  cowrie:
    build:
      context: cowrie
    ports:
    - "2222:2222"
    - "2323:2323"
    volumes:
    - {{cowrie_path}}/logs:{{cowrie_path}}/logs
    - {{cowrie_path}}/download:{{cowrie_path}}/download
    restart: always
