  honeytrap:
    build:
      context: honeytrap
    network_mode: "host"
    volumes:
    - {{honeytrap_path}}/logs:{{honeytrap_path}}/logs
    depends_on:
    {% for hpot in honeypots -%}
    {% if hpot != "base" %}
    - {{ hpot }}
    {% endif %}
    {% endfor %}
    restart: always
